* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.title {
    font-weight: bold;
    /* background-color: aqua; */
    text-align: center;
}
#img {
    height: auto;
    width: 400px;

}
